.navbar {
  width: 69%;
  height: 8vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_side {
  font-size: 33px;
  font-family: "Times New Roman", Times, serif;
}

.right_side {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.home_body {
  height: 85vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body_description h1 {
  line-height: 80px;
}

.body_description p {
  line-height: 130px;
  font-size: 25px;
}

.body_description h1 {
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
}

.footer {
  width: 40%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-size: 12px;
  color: gray;
  height: 5.3vh;
}

.body_image {
  margin-right: -18rem;
}
